################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/WebServer/JingJia.Connect/PLCTest/bin/Release
/WebServer/JingJia.Connect/PLCTest/obj/x86/Debug
/WebServer/JingJia.Connect/PLCTest/obj/x86/Release
/WebServer/JingJia.Connect/JingJia.PLCDriver/bin/Release
/WebServer/JingJia.Connect/JingJia.PLCDriver/obj/Release
/WebServer/JingJia.Connect/Jingjia.Connect.RestFulService/bin/Release
/WebServer/JingJia.Connect/Jingjia.Connect.RestFulService/obj/Release
/WebServer/JingJia.Connect/ConnectService/bin
/WebServer/JingJia.Connect/ConnectService/obj
/WebServer/JingJia.Connect/.vs/JingJia.Connect/v16
/WebServer/JingJia.Connect/JingJia.PLCDriver/obj/Debug
/WebServer/JingJia.Connect/JingJia.PLCDriver/bin/Debug
/WebServer/JingJia.Connect/Jingjia.Connect.RestFulService/obj/Debug
/WebServer/JingJia.Connect/ConnectService
/WebServer/JingJia.Connect/.vs/JingJia.Connect/config
/WebServer/JingJia.Connect/Jingjia.PLCModel/bin
/WebServer/JingJia.Connect/Jingjia.PLCModel/obj
/WebServer/JingJia.Connect/Jingjia.PLCModel/obj
/WebServer/JingJia.Connect/JingJia.PLCComm/bin/Debug
/WebServer/JingJia.Connect/JingJia.PLCComm/obj/Debug
/WebServer/JingJia.Connect/JingJia.PLCCache/bin
/WebServer/JingJia.Connect/JingJia.PLCCache/obj
/WebServer/JingJia.Connect/JingJia.PLCCache/obj
/WebServer/JingJia.Connect/Jingjia.Connect.RestFulService/bin/Debug
/WebServer/JingJia.Connect/JingJia.PLCComm/bin/Release
/WebServer/JingJia.Connect/JingJia.PLCComm/obj/Release
/WebServer/JingJia.Connect/Jingjia.Task/obj/Debug
/WebServer/JingJia.Connect/Jingjia.Task/bin/Debug
